.wrapper {
  overflow-x: hidden;
  height: 732px;
}

.header {
  background-color: black;
  color: #888888;
  z-index: 1;
}

.btn__nav {
  color: #fff;
  display: none;
}

.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: showOverlay ease 1s;
}

.nav__show:checked ~ .header-list {
  transform: translate(0%);
  transition: transform ease 1s;
}

.nav__show:checked ~ .nav__overlay {
    display: block;
  }

.header-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-list-item {
  list-style: none;
  border-bottom: 1px solid #888888;
  cursor: pointer;

  &:hover {
    background-color: #5C5C5C;
    color: #fff;
  }
}

.header-list-item__item {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
} 

.header-list-item__item.active {
  color: white;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 0 20px;
}

.content-logo {
  margin-top: 20px;
  margin-bottom: 30px;
}

.logo {
  width: 310px;
  height: 122px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: #EFEFEF;
  text-align: center;
  padding: 38px 0;
}

.title__title {
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 10px 0;
  line-height: 21.09px;
}

.title__content {

}

.title__content .content {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.72px;
  text-align: center;
}

.course {
  justify-content: space-between;
  margin-top: 20px;
}

.course-item {
  width: 31.5%;
  background-clip: content-box;
  margin-bottom: 10px;

  .course-item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28.13px;
  }
}

.course-item__content, .content {
  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18.75px;
  }
}

.footer {
  border-top: 1px solid #888888;
}

.footer__content {
  height: 71px;
  display: flex;
  align-items: center;
}

@media (max-width: 1112px) {



  .header {
    height: 20px;
  }

  .btn__nav {
    display: block;
  }

  .header {
    position: relative;
  }

  .header-list {
    max-width: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 9999;
    transform: translate(-100%);
  }

  .content {
    padding: 0 20px;
  }
}

@media(max-width:940px) {
  .logo {
    width: 250px;
    height: 100px;
  }
}

@media(max-width: 760px) {
  .logo {
    width: 200px;
    height: 80px;
  }

}

@media (max-width: 739px) {
  .course-item {
    width: 49%;
  }
}

@media (max-width: 625px) {
  .logo {
    width: 150px;
    height: 60px;
  }
}

@media (max-width: 489px) {
  .logo {
    width: 125px;
    height: 45px;
  }
  .course-item {
    width: 100%;
  }
}


@keyframes showOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showNav {
  from {
    height: 0%;
  }
  to {
  height: 100%;
  }
}