.wrapper {
  height: 935px;
}

.wrapper-header {
  height: 100%;
}


.header {
  background-color: black;
  color: #888888;
  z-index: 1;
}

.btn__nav {
  color: #fff;
  display: none;
}

.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: showOverlay ease 1s;
}

.nav__show:checked ~ .header-list {
  transform: translate(0%);
  transition: transform ease 1s;
}

.nav__show:checked ~ .nav__overlay {
    display: block;
  }

.header-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-list-item {
  list-style: none;
  border-bottom: 1px solid #888888;
  cursor: pointer;
}

.header-list-item__item {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
} 

.header-list-item__item.active {
  color: white;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 0 20px;
}

.logo {
  padding: 10px;
}

.title {
  background-color: #888888;
  padding: 35px 0;
  text-align: center;
}

.title__title {
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 10px 0;
}

.title__content {

}

.title__content .content {
  text-align: center;
}

.course {
  justify-content: space-between;
  margin-top: 20px;
}

.course-item {
  width: 31.5%;
  height: 300px;
  background-color: orange;
  background-clip: content-box;
  margin-bottom: 10px;
  order: 3;
  // transform: rotate(75deg) translate3d(0,0,0);
}

.pandabar {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: orange;
  order: 2;
}

.footer {
  border-top: 1px solid #888888;
}

.footer__content {
  height: 71px;
  display: flex;
  align-items: center;
}

@media (max-width: 1112px) {
  .wrapper-header {
    height: auto;
  }

  .header {
    height: 20px;
  }

  .btn__nav {
    display: block;
  }

  .header {
    position: relative;
  }

  .header-list {
    max-width: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 9999;
    transform: translate(-100%);
  }

  .content {
    padding: 0 20px;
  }
}

@media (min-width: 740px) {
  .course-item:nth-child(-n+3) {
    order: 1;
  }
}
@media (max-width: 739px) {
  .course-item {
    width: 49%;
  }

  .course-item:nth-child(-n+2) {
    order: 1;
  }
}

@media (max-width: 489px) {
  .course-item {
    width: 100%;
  }
}


@keyframes showOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showNav {
  from {
    height: 0%;
  }
  to {
  height: 100%;
  }
}

.orgin {
  background-color: orange;
}

.black {
  background-color: #000;
}